Repository jhaasiado/classification-poverty-prediction: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, nbstripout, nbqa-black, nbqa-ruff

black:
  name: black
  entry: black
  language: python
  additional_dependencies:
  - black==24.8.0

ruff:
  name: ruff
  entry: ruff
  language: python
  args:
  - --fix
  - --show-fixes
  additional_dependencies:
  - ruff==0.6.8

mypy:
  name: mypy
  entry: mypy
  language: python
  additional_dependencies:
  - mypy==1.11.1

bandit:
  name: bandit
  entry: bandit
  language: python
  args:
  - -r
  - .
  additional_dependencies:
  - bandit==1.7.9

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python
  additional_dependencies:
  - nbstripout==0.7.1

nbqa-black:
  name: nbqa-black
  entry: nbqa black
  language: python
  additional_dependencies:
  - nbqa==1.9.0
  - black==24.8.0

nbqa-ruff:
  name: nbqa-ruff
  entry: nbqa ruff
  language: python
  additional_dependencies:
  - nbqa==1.9.0
  - ruff==0.6.8

docs: use uv (Astral) for install/run instructions
  README.md
Due: none

add working mlflow and airflow
  .dockerignore
  .env
  .gitignore
  .python-version
  Dockerfile
  Dockerfile.mlflow
  deploy/airflow/config/airflow.cfg
  deploy/airflow/dags/ml_pipeline_dag.py
  docker-compose.yaml
  pyproject.toml
  src/data_download.py
  src/data_extraction.py
  src/data_preprocessing.py
  src/evaluation.py
  src/training.py
  uv.lock
Due: black, ruff, mypy, bandit

fix: error on artifact naming
  src/evaluation.py
  src/training.py
Due: black, ruff, mypy, bandit

ml flow metrics fix
  src/data_preprocessing.py
  src/evaluation.py
Due: black, ruff, mypy, bandit

added demo notebook
  demo.ipynb
Due: nbstripout, nbqa-black, nbqa-ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  nbstripout: any of: \.ipynb$
  nbqa-black: any of: \.ipynb$
  nbqa-ruff: any of: \.ipynb$
